<!DOCTYPE html>
<html lang="en">

    <%- include('./../partials/head.ejs') %> 

<body>
    <div class="container">
        <%- include('./../partials/nav.ejs') %>
        <h1><%= blog.blogTitle  %> </h1>

        <p><%= blog.blogBody  %> </p>
        <hr>
        <p id="readInd">Read by <%= blog.readBy+1  %> people</p>
        <div class="detailBtns">
            <a id="del" data-docid="<%= blog._id  %>">
                <button class="button delBtn">Delete</button>
            </a>
            <a href="/bazzle">
                <button class="button">Back</button>
            </a>
        </div>
        <%- include('./../partials/footer.ejs') %> 
    </div>

    <script>
        const delBtn = document.querySelector('#del')
        const delEndpoint = `/delBlog/${delBtn.dataset.docid}`

        delBtn.addEventListener('click',async()=>{
            const response = await fetch(delEndpoint,{
                method: 'DELETE'
            })
            const data = await response.json()

            window.location.href = data.redirectUrl
        })

    </script>

</body>

</html>