<!DOCTYPE html>
<html lang="en">

<%- include('./../partials/head.ejs') %> 

<body class="container">
    <%- include('./../partials/nav.ejs') %>

    <main>
        <div class="headText">
            <h1>Let the World read what You know !!!</h1>
        </div>
        <div class="blogs">
            <h3>Go through some Bazzling Blogs...</h3>
            <hr>
            <div class="blog-cards">
                <% if(blogs.length > 0) {%>
                    <% blogs.forEach(blog => { %>
                        <div class="blogCard">
                            <h2><%= blog.blogTitle %></h2>
                            <div class="pills">
                                <% if(blog.tags.length > 0) {%>
                                    <% blog.tags.forEach(tag => { %>
                                        <div class="pill"><%= tag %> </div>
                                    <% }) %> 
                                <% } else { %>
                                    <div class="noTagDiv">
                                        No Tags Added
                                    </div>
                                <% } %> 
                            </div>
                            <div class="btnAndDetails">
                                <p class="readby">read by <%= blog.readBy %>  people</p>
                                <a href="/bazzle/blogs/<%= blog._id %> ">
                                    <button class="button">Read</button>
                                </a>
                            </div>
                        </div>
                    <% }) %>  
                <% } else {%>
                    <div class="noBlogDiv">
                        <h4>No Blogs to Read</h4>
                        <h4>Lets Add some</h4>
                        <button class="button">Create a Blog</button>
                    </div>
                <% } %> 
            </div>
        </div>
    </main>

    <%- include('./../partials/footer.ejs') %> 
</body>
</html>