<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body class="container">
    <%- include('./partials/nav.ejs') %>

    <main>
        <div class="headText">
            <h1>Let the World read what You know !!!</h1>
        </div>
        <div class="blogs">
            <h3>Go through some Bazzling Blogs...</h3>
            <hr>
            <div class="blog-cards">
                <% blogs.forEach(blog => { %>
                    <div class="blogCard">
                        <h2><%= blog.blogTitle %></h2>
                        <div class="pills">
                            <% blog.tags.forEach(tag => { %>
                                <div class="pill"><%= tag %> </div>
                            <% }) %> 
                        </div>
                        <div class="btnAndDetails">
                            <p class="readby">read by <%= blog.readBy %>  people</p>
                            <button class="button">Read</button>
                        </div>
                    </div>
                <% }) %> 
            </div>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>